<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="##root##src/template/stile.css"> <!-- stili comuni -->
	<link rel="stylesheet" type="text/css" href="##root##data/##DOMINIO##/stile.css"/> <!-- stili del tema -->

	##JQUERYINCLUDE##
	<script language="JavaScript" src="##root##src/template/comode.js"></script>

	<title>I ME MINE</title>

	<script language="JavaScript" src="template/dettaglio.js"></script>

</head>
<body>
<div class='panel'>
	<table>
		<tr>
			<td><h1 class='title'>##TITLE##</h1></td>
			<td><a href="javascript:checkConStato()" class='salva'>Save</a>
			</td><td>
			</td>

		</tr>
	</table>
</div>
<div class="corpo">
##STARTFORM##
##id##
##op##
<fieldset class='mainfieldset'>
	<legend>My profile</legend>
	<table>
		<tr>
			<td>Username </td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>##username##</td>
		</tr>
		<tr>
			<td>Password *</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>##password##</td>
		</tr>
		<tr>
			<td>Name *</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>##nome##</td>
		</tr>
		<tr>
			<td>Surname</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>##cognome##</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>##de_email##</td>
		</tr>
	</table>
</fieldset>
##ENDFORM##
</div>
</body>
</html>