<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="##root##src/template/stile.css"> <!-- stili comuni -->
	<link rel="stylesheet" type="text/css" href="##root##data/##DOMINIO##/stile.css"/> <!-- stili del tema -->

	##JQUERYINCLUDE##
	<script language="JavaScript" src="##root##src/template/comode.js"></script>

	<title>Add a new user</title>

	<script language="JavaScript" src="##root##srctemplate/controlloform.js"></script>
	<script language="JavaScript" src="template/jscode-form.js"></script>
</head>
<body>
<div class='panel'>
	<table>
		<tr>
			<td><h1 class='title'>##TITLE##</h1></td>
			<td><a href="javascript:submitform()" class='salva'>Save</a>
			</td><td>
			<a href="javascript:document.location.href='index.php'" class='annulla'>Cancel</a>
			</td>
		</tr>
	</table>
</div>
<div class='corpo'>
<form name="dati" action="##gestore##" method="POST" onsubmit="return false">
	<input type="hidden" name="id" value="">
	<input type="hidden" name="op" value="aggiungiStep2">
	<fieldset class='mainfieldset'>
	<legend>User details</legend>
		<table>
			<tr>
				<td>Username</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td><input type="text" name="lausername" value="" size="32" maxlength="32">
				</td>
			</tr>
			<tr valign="top">
				<td>Password</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<input type="password" name="lapassword" maxlength="20" size="20" value="">
				</td>
			</tr>
			<tr valign="top">
				<td>Name</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<input type="text" name="nome" maxlength="100" size="20" value="">
				</td>
			</tr>
			<tr valign="top">
				<td>Surname</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<input type="text" name="cognome" maxlength="100" size="20" value="">
				</td>
			</tr>
			<tr valign="top">
				<td>Profile</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<select name="cd_profilo">
					##cd_profilo##
					</select>
				</td>
			</tr>
			<tr>
				<td>Active user</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td><input type="checkbox" value="1" name="fl_attivo" checked></td>
			</tr>
		</table>
	</fieldset>
</form>
<script language="JavaScript">
	document.dati.username.focus()
</script>
</body>
</html>