<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="##root##src/template/stile.css"> <!-- stili comuni -->
	<link rel="stylesheet" type="text/css" href="##root##data/##DOMINIO##/stile.css"/> <!-- stili del tema -->

	##JQUERYINCLUDE##
	<script language="JavaScript" src="##root##src/template/comode.js"></script>


	<title>##TITLE##</title>

</head>
<body>
<div class='panel'>
	<table>
		<tr>
			<td><h1 class='title'>##TITLE##</h1></td>
			<td>##aggiungi##
			</td>
		</tr>
	</table>
</div>
<div class='corpo'>
	##corpo##
</div>


</body>
</html>