<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="##root##src/template/stile.css"> <!-- stili comuni -->
	<link rel="stylesheet" type="text/css" href="##root##data/##DOMINIO##/stile.css"/> <!-- stili del tema -->

	##JQUERYINCLUDE##
	<script language="JavaScript" src="##root##src/template/comode.js"></script>


	<title>##TITLE##</title>

</head>

<body>
<div class='panel'>
	<table>
		<tr>
			<td><h1 class='title'>##TITLE##</h1></td>
			<td><a href="javascript:checkConStato()" class='salva'> Save</a>
			<td><a href="javascript:saveAndLoad()" class='salva'> Save and refresh</a>
			</td><td><a href="##gestore##" class='annulla'> Cancel</a>
			</td>
		</tr>
	</table>
</div>
<div class="corpo">
	##STARTFORM##
	##id##
	##op##
	<fieldset class='mainfieldset'>
		<legend><a href="javascript:;" rel="Campaign details (+)|Datiprincipali">Campaign details</a></legend>
		<div id='Datiprincipali'>
			<table>
				<tr>
					<td valign='top' width='150'>Campagin title*</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td>##de_titolo##</td>
				</tr>

				<tr>
					<td valign='top'>Client*</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td>##cd_cliente##</td>
				</tr>
				<tr>
					<td valign='top'>Status*</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td>##fl_status##
					<p>Campaigns turned OFF will not be available in banner creation for new records, but banners will be delivered till the end of their timing.<br>
					Campaigns turned TOTALLY OFF will also stop serving all their banners.</p></td>
				</tr>
			</table>
		</div>
	</fieldset>

	<!-- <fieldset class='mainfieldset'>
		<legend><a href="javascript:show('Stats')">Stats</a></legend>
		<div id='Stats'>
			<table>
				<tr>
					<td valign='top' width='150'>Scontri nel gruppo</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td>##q##</td>
				</tr>
			</table>
		</div>
	</fieldset>-->

	##ENDFORM##
</div>
</body>
</html>
