<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="##root##src/template/stile.css"> <!-- stili comuni -->
	<link rel="stylesheet" type="text/css" href="##root##data/##DOMINIO##/stile.css"/> <!-- stili del tema -->

	##JQUERYINCLUDE##
	<script language="JavaScript" src="##root##src/template/comode.js"></script>

	<title>##TITLE##</title>
	<script language="JavaScript" src="template/dettaglio.js"></script>
	
</head>
<body>
<div class='panel'>
	<table>
		<tr>
			<td><a href="javascript:checkConStato()" class="salva">Salva</a>
			</td><td><a href="##gestore##" class="annulla">Annulla</a>
			</td>
		</tr>
	</table>
</div>
<div class="corpo">
	##STARTFORM##
	##id##
	##op##
	<fieldset class='mainfieldset'>
		
			<legend><a href="javascript:;" rel="Configura (+)|Datiprincipali">Configura</a></legend>
			<div id='Datiprincipali'>
			<table>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td colspan='10'>
						<table>
							<tr>
								<td>Variabile*&nbsp;&nbsp;</td>
								<td></td>
								<td>Valore</td>
								<td></td>
								<td align='right'></td>
							</tr>
							<tr>
								<td valign='top'>##de_nome##</td>
								<td></td>
								<td>##de_value##</td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</fieldset>
	
	##ENDFORM##
</div>
</body>
</html>
